node_modules
.env*
.vscode
.DS_Store
.serverless
.expo
dist/
web-build/
expo-env.d.ts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.pem
*.tsbuildinfo
app-example
.idea